{#
/**
 * @file poem-prose.html.twig
 *
 * Default theme implementation.
 *
 * Available variables:
 *  - $roses
 *  - $violets
 *
 * @see template_preprocess
 * @see template_preprocess_THEME_HOOK
 * @ingroup themable
 */
#}

<h1>Rose are {{ roses }}</h1>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Rose are {{ roses }}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Violets are {{ violets }}</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Nobody loves Form API</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; More than I do </p>
